.headshot{
    width:250px;
    height:350px;
}
.navbar {
   list-style: none;
}
.name{
    margin-top:25%;
}

.bg-image {
    background-image: url("kyle-sung-oQuP_XBjOMY-unsplash.jpg");
    background-size: cover;
}
.container {
    position:absolute;
}